@use "src/styles/spacing" as *;
@use "src/styles/borders" as *;
@use "src/styles/colors" as *;
@use "src/styles/fonts" as *;

$icon-width-desktop: 56px;

.logo-icon-list {
  display: flex;
  gap: $spacing-lg;
  flex-wrap: wrap;
  max-width: calc($icon-width-desktop * 4 + $spacing-lg * 3);

  &_icon {
    position: relative;

    img {
      width: 56px;
      height: 56px;
      transition: transform 0.3s ease;
      border-radius: $border-radius-sm;

      &:hover {
        transform: scale(1.2);
      }
    }

    span {
      display: block;
      opacity: 0;
      font-size: $font-xs;
      border-radius: $border-radius-sm;
      background-color: $grey;
      padding: $spacing-xs $spacing-sm;
      bottom: -$spacing-md;
      left: 50%;
      transform: translate(-50%, 100%);
      position: absolute;
      transition: opacity 0.4s ease;
      z-index: 10;
    }

    &:hover {
      span {
        display: block;
        opacity: 1;
      }
    }
  }
}
