@use "src/styles/spacing" as *;
@use "src/styles/breakpoints" as *;
@use "src/styles/fonts" as *;

.locked-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: calc(100vh - $font-md - 2 * $spacing-lg);
  max-width: $breakpoint-xl;
  padding: $spacing-lg;
  box-sizing: border-box;
}
