@use "src/styles/colors" as *;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: azo-sans-web, sans-serif;
  height: 100%;
}

h1 {
  font-size: inherit;
  margin: 0;
}

h2 {
  font-size: inherit;
  margin: 0;
}

h3 {
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.1s ease;

  &:focus {
    outline-color: $blue;
  }

  &:active {
    outline-color: $yellow;
    text-decoration: none;
    transform: scale(0.98);
  }
}

button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  transition: transform 0.1s ease;

  &:focus {
    outline-color: $blue;
  }

  &:active {
    text-decoration: none;
    transform: scale(0.98);
  }
}

ul {
  margin: 0;
  padding: 0;
  color: inherit;
  list-style: none;
}

li {
  color: inherit;
}
