$font-xxs: 0.625rem;
$font-xs: 0.875rem;
$font-sm: 1rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-2xl: 1.75rem;
$font-3xl: 2.375rem;
$font-4xl: 4.25rem;
$font-5xl: 4.5rem;
$font-6xl: 5.75rem;
