@use "src/styles/iconSizes" as *;

.icon {
  &_sm {
    width: $icon_sm;
    height: $icon_sm;
  }

  &_md {
    width: $icon_md;
    height: $icon_md;

    path {
      transform: scale(calc($icon_md / $icon_sm));
    }
  }

  &_lg {
    width: $icon_lg;
    height: $icon_lg;

    path {
      transform: scale(calc($icon_lg / $icon_sm));
    }
  }
}
