@use "src/styles/spacing" as *;
@use "src/styles/fonts" as *;
@use "src/styles/colors" as *;

.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: $spacing-xl;

  &_hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: $spacing-xl;
  }

  &_hero-title {
    font-size: $font-4xl;

    & span {
      text-decoration: underline 8px solid $blue;
      text-underline-offset: 3%;
    }
  }

  &_hero-ctas {
    display: flex;
    gap: $spacing-md;
  }

  &_hero-links {
    display: flex;
    gap: $spacing-md;
    font-size: $font-sm;
  }

  &_hero-image {
    max-width: 480px;
    height: 100%;
  }

  &_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: $spacing-md;
  }
}
