@use "src/styles/spacing" as *;
@use "src/styles/colors" as *;

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: $spacing-lg;

  &_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-sm;
    font-size: 18px;
    font-weight: 700;
  }

  &_list {
    display: flex;
    gap: $spacing-lg;
    list-style: none;
    margin: 0;
  }

  &_list-item a {
    font-weight: bold;
  }
}
