@use "src/styles/spacing" as *;
@use "src/styles/fonts" as *;
@use "src/styles/colors" as *;
@use "src/styles/borders" as *;
@use "src/styles/breakpoints" as *;

.content-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: $spacing-2xl 0;
  border-bottom: 1px solid $grey;
  gap: $spacing-2xl;

  &_title {
    font-size: $font-3xl;
    display: flex;
    padding-bottom: $spacing-sm;
    align-items: center;
    gap: $spacing-sm;
  }

  &_subtitle {
    font-size: $font-sm;
    text-transform: uppercase;
    font-weight: 400;
    color: $grey;
  }

  &_paragraph {
    font-size: $font-md;
    font-weight: 400;
  }

  &_technologies {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &_experience {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &_experience-list {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &_column {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    width: 100%;

    &:first-child {
      max-width: 360px;
    }

    &:last-child {
      align-items: center;
      justify-content: flex-start;
    }
  }

  &_image {
    border: 16px solid #000;
    border-radius: $border-radius-xl;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

    img {
      max-width: 840px;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .content-section {
    flex-direction: column-reverse;
    gap: $spacing-xl;

    &_column:first-child {
      max-width: 560px;
    }
  }
}
