@use "src/styles/spacing" as *;
@use "src/styles/fonts" as *;
@use "src/styles/colors" as *;

.content-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: $spacing-2xl 0;
  border-bottom: 1px solid $grey;
  gap: $spacing-3xl;

  &_title {
    font-size: $font-3xl;
    display: flex;
    gap: $spacing-md;
    align-items: center;
  }

  &_subtitle {
    font-size: $font-sm;
    text-transform: uppercase;
    font-weight: 400;
    color: $grey;
  }

  &_paragraph {
    font-size: $font-md;
    font-weight: 400;
    padding: $spacing-lg 0;
  }

  &_technologies {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &_technologies-list {
    display: flex;
    gap: $spacing-md;
  }

  &_technologies-icon {
    position: relative;

    img {
      width: 56px;
      height: 56px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    span {
      display: block;
      opacity: 0;
      font-size: $font-xs;
      border-radius: 4px;
      background-color: $grey;
      padding: $spacing-xs $spacing-sm;
      bottom: -$spacing-md;
      left: 50%;
      transform: translate(-50%, 100%);
      position: absolute;
      transition: opacity 0.4s ease;
    }

    &:hover {
      span {
        display: block;
        opacity: 1;
      }
    }
  }

  &_column {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    width: 100%;

    &:first-child {
      max-width: 480px;
    }

    &:last-child {
      align-items: center;
      justify-content: flex-start;
    }
  }

  &_image {
    border: 16px solid #000;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

    img {
      max-width: 840px;
      height: 100%;
      object-fit: fill;
    }
  }
}
